<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FacturaConexion"
			 connectionString="Data Source=DESKTOP-DN74TNG\SQLEXPRESS; Initial Catalog= Factura1; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>